.values {
  width: 100%;
  padding: 80px 20px;
  margin-top: 70px;
}

.values1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.values1 p {
  color: #787a80;
  margin-top: 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 80px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.values-card {
  width: 260px;
  height: 220px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  cursor: pointer;
}

.values-card:hover {
  transform: scale(1.08);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.values-card h3 {
  margin-top: 15px;
}

.values-card p {
  color: #787a80;
  margin-top: 10px;
  font-size: 14px;
}