.projects {
  padding: 80px 40px;
  background: white;
  font-family: Arial, sans-serif;
}

.projects-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
}

.projects-top h1 {
  font-size: 32px;
  color: #222;
}

.arrows {
  display: flex;
  gap: 10px;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow.active {
  background: #ff5a2c;
  color: #fff;
}

.projects-cards {
  display: flex;
  gap: 130px;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  width: 300px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 20px;
  text-align: center;
}

.info h3 {
  font-size: 18px;
}

.info p {
  color: #777;
  margin: 8px 0;
}

.info button {
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #ff5a2c;
  background: transparent;
  color: #ff5a2c;
  border-radius: 4px;
  cursor: pointer;
}

.project-card.active {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.project-card:hover {
  transform: scale(1.05);
}

.projects-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
  margin-top: 50px;
}

.projects-bottom p {
  margin-bottom: 10px;
}

.projects-bottom button {
  background: #ff5a2c;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

.projects-bottom button:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
