.container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:  rgba(244, 245, 246, 1);
;
}
.page{
    width: 700px;
    height: 300px;

}
.page h1{
    font-size: 40px;
    color: #000;
    margin-bottom: 20px;
}
.page p{
    font-size: 25px;
    color: #000;
}
.img img{
    width: 500px;
    height: 400px;
}