.offices {
  text-align: center;
  padding: 60px 20px;
  background-color:#F4F5F6 ;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  margin-bottom: 40px;
}

.offices-container {
  display: flex;
  justify-content: center;
  gap: 160px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.office {
  max-width: 260px;
  text-align: left;
}

.office h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.office p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}
.office a {
  display: inline-block;
  margin: 10px 0;
  color: #ff5a3c;
  font-size: 14px;
  text-decoration: none;
  position: relative;
}

/* pastiga qizil chiziq */
.office a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #ff5a3c;
}



.find {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
}

.icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  color: #777;
}

.icons svg {
  cursor: pointer;
  transition: 0.3s;
}

.icons svg:hover {
  color: #ff5a3c;
  transform: scale(1.2);
}

.youtube {
  color: red;
}